.architecture-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;

  color: contrast-color($accent-soft);
  
  background-color: $accent-soft;

  h3 {
    margin-bottom: 30px;

    font-family: $font-title;
    font-size: 2.5rem;
  }

  p {
    max-width: 80ch;
  }

  .architecture-figure {
    max-width: 80ch;
    height: auto;
    margin: 20px;

    figcaption {
      font-size: 0.8rem;

      a {
        color: #696969;
      }
    }
  }
}
