* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;

  font-family: $font-family-sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: contrast-color($background-primary);
  text-align: justify;

  background-color: $background-primary;

  scroll-behavior: smooth;

  p {
    max-width: 80ch;
  }
}

.footer {
  position: relative;

  display: flex;
  justify-content: center;
  padding: 1rem;

  font-size: 0.75rem;
  text-align: center;

  p {
    margin: 0;
  }

  i {
    position: absolute;
    right: 20%;

    color: contrast-color($background-primary);
  }
}

.header {
  margin: 3rem;
  font-family: $font-title;

  text-align: center;

  h1 {
    font-size: 3rem;
  }

  h2 {
    margin-top: 10px;

    font-size: 2rem;
  }

  .navbar {
    display: flex;
    justify-content: center;
    padding: 0;
    color: contrast-color($background-primary);

    background-color: $background-primary;

    .navbar-brand {
      color: contrast-color($background-primary);
    }

    .collapse {
      max-width: fit-content;

      .nav-link {
        color: contrast-color($background-primary);
      }

      .nav-link.active {
        font-weight: bold;
        color: contrast-color($background-primary);
        
        background-color: lighten($background-primary, 10%);
      }
    }

    .navbar-toggler {
      color: contrast-color($background-primary);
      border: none;
      box-shadow: none;

      i {
        color: contrast-color($background-primary);
      }
    }
  }

  .navbar.hidden {
    display: none;
  }

  @media (max-width: 992px) {
    .navbar.hidden {
      display: flex;
    }
  }
}

.main-container {

  .main-picture {
    width: 100%;
    height: auto;

    source,
    img {
      width: 100%;
      height: auto;
    }

    figcaption {
      font-size: 0.8rem;

      a {
        color: #d3d3d3;
      }
    }
  }

  .card-container {
    margin-block: 60px;
    margin-inline: 80px;

    .card {
      height: 100%;
      margin-bottom: 1rem;

      overflow: hidden;
      color: contrast-color($accent-soft);

      background-color: $accent-soft;

      .card-body {
        display: flex;
        flex-direction: column;

        button {
          width: fit-content;
          padding: 7px;
          margin-top: auto;
          
          color: contrast-color($highlight);

          background-color: $highlight;
          border: none;
          border-radius: 10px;
        }
      }

      .card-picture {
        width: 100%;
        height: auto;
        margin: auto;
        
        source,
        img {
          width: 100%;
          height: auto;
        }

        figcaption {
          font-size: 0.8rem;
    
          a {
            color: #696969;
          }
        }
      }
    }

    .card:hover {
      color: contrast-color(lighten($accent-soft, 10%));
      background-color: lighten($accent-soft, 10%);

      button:hover {
        color: contrast-color(lighten($highlight, 10%));

        background-color: lighten($highlight, 10%);
      }
    }
  }
}
