<section class="architecture-container" id="architecture">
  <h3>Arquitectura</h3>
  <p>La <strong>Basílica de Nuestra Señora del Pilar</strong> es un magnífico ejemplo de la evolución arquitectónica que ha marcado la historia del arte en España. Su diseño combina elementos del <strong>Renacimiento</strong> y el <strong>Barroco</strong>, integrando de manera armónica varias etapas constructivas que se sucedieron a lo largo de los siglos.</p>

  <p>El edificio actual comenzó a tomar forma en el siglo XVII, cuando se decidió construir un templo más grande y majestuoso para albergar la creciente devoción a la Virgen del Pilar. El proyecto inicial fue desarrollado por el arquitecto <strong>Felipe Sánchez</strong>, y posteriormente perfeccionado por <strong>Francisco Herrera el Mozo</strong>, quien incorporó elementos barrocos que siguen siendo distintivos del templo.</p>

  <p>Una de las características más emblemáticas de la Basílica es su imponente estructura de <strong>planta rectangular</strong>, con una gran nave central flanqueada por capillas laterales. La nave principal está cubierta por una serie de majestuosas <strong>cúpulas</strong> y <strong>bóvedas</strong> decoradas con frescos, entre los que destacan los realizados por el pintor <strong>Francisco de Goya</strong>, natural de la región.</p>
  <figure class="architecture-figure">
    <picture>
      <source srcset="./assets/images/basilica-del-pilar.jpeg?as=webp" type="image/webp">
      <img class="main-pic img-fluid" src="./assets/images/basilica-del-pilar.jpeg" alt="Basílica del Pilar">
    </picture>
    <figcaption>Imagen tomada de: <a href="https://commons.m.wikimedia.org" target="_blank">Wikimedia</a></figcaption>
  </figure>

  <p>El templo está coronado por <strong>once cúpulas</strong> en total, siendo la <strong>gran cúpula central</strong> la más impresionante de todas. Con sus 80 metros de altura, está decorada con motivos religiosos y es visible desde distintos puntos de la ciudad, dominando el skyline zaragozano.</p>

  <p>A lo largo de su perímetro se alzan cuatro altas <strong>torres barrocas</strong>, dos en los extremos frontales y dos en los posteriores, que refuerzan su monumentalidad. Las torres, junto con la cúpula central, crean una silueta inconfundible que se refleja en las aguas del río Ebro, ofreciendo una vista espectacular del conjunto arquitectónico.</p>

  <p>En su interior, la Basílica destaca por la grandiosidad y riqueza decorativa de sus capillas, especialmente la <strong>Capilla del Pilar</strong>, donde se encuentra la venerada imagen de la Virgen. El altar mayor, elaborado en mármol y jaspe, es otro de los elementos artísticos de gran valor.</p>

  <p>En resumen, la Basílica del Pilar es una obra maestra que refleja la fusión de estilos y épocas, convirtiéndose en un símbolo arquitectónico y espiritual no solo de Zaragoza, sino de toda España.</p>
</section>