<section class="curiosities-container" id="curiosities">
  <h3 class="text-center">Curiosidades</h3>
  
  <section class="mb-4">
    <div class="row justify-content-center">
      <div class="col-md-8 d-flex flex-column justify-content-center curiosities-text">
        <h4>Curiosidades: Las bombas de la Guerra Civil</h4>
        <p>Una de las curiosidades más impactantes sobre la <strong>Basílica del Pilar</strong> es que durante la <strong>Guerra Civil Española</strong>, el 3 de agosto de 1936, el templo fue objetivo de un bombardeo por parte de las fuerzas republicanas. Tres bombas cayeron sobre la basílica, pero, de manera inexplicable, ninguna de ellas explotó.</p>
        <p>Este hecho se ha interpretado por muchos como un milagro, ya que, de haber detonado, habrían causado graves daños a la basílica y posiblemente destruido el pilar donde, según la tradición, se apareció la Virgen María. Las bombas que cayeron sobre el templo se conservaron y hoy se exhiben en las paredes interiores de la basílica como un recordatorio de ese día.</p>
        <p>La preservación de la basílica, en un momento tan crítico de la historia española, ha sido vista como un símbolo de protección divina para muchos de los fieles que visitan el templo, consolidando aún más su papel como lugar de devoción y fe.</p>
      </div>
      <div class="col-md-4 d-flex justify-content-end align-items-center picture-container">
        <figure class="curiosities-figure">
          <picture>
            <source srcset="./assets/images/bombas-agujero.jpg?as=webp" type="image/webp">
          <img class="main-pic img-fluid" src="./assets/images/bombas-agujero.jpg" alt="Basílica del Pilar agujero de una bomba">
          </picture>
          <figcaption>Imagen tomada de: <a href="https://www.croquetarte.es" target="_blank">Croquetarte</a></figcaption>
        </figure>
      </div>
    </div>
  </section>

  <section class="mb-4">
    <div class="row justify-content-center">
      <div class="col-md-8 d-flex flex-column justify-content-center curiosities-text">
        <h4>Francisco de Goya y la Basílica del Pilar</h4>
        <p>En 1771, cuando Goya tenía tan solo 25 años, recibió el encargo de pintar una de las cúpulas del templo. Su fresco, titulado <strong>"La Adoración del Nombre de Dios"</strong>, se encuentra en una de las cúpulas laterales conocidas como las <strong>"pechinas"</strong>. Esta obra refleja la influencia de su formación en Italia y está considerada un ejemplo temprano de su estilo dinámico y expresivo.</p>
        <p>Años después, en 1780, Goya volvió a trabajar en la Basílica para decorar otra cúpula, la conocida como <strong>"Regina Martyrum"</strong> (Reina de los Mártires). Aunque este proyecto no estuvo exento de controversias debido a su estilo más audaz, finalmente completó la obra, dejando una importante huella en este espacio venerado.</p>
      </div>
      <div class="col-md-4 d-flex justify-content-end align-items-center picture-container">
        <figure class="curiosities-figure">
          <picture>
            <source srcset="./assets/images/cupula-goya.jpg?as=webp" type="image/webp">
            <img class="main-pic img-fluid" src="./assets/images/cupula-goya.jpg" alt="Cupula pintada por Goya">
          </picture>
          <figcaption>Imagen tomada de: <a href="https://www.catedraldezaragoza.es" target="_blank">Catedral de Zaragoza</a></figcaption>
        </figure>
      </div>
    </div>
  </section>
</section>
