<div class="header" id="start">
  <h1>Catedral Basílica de Nuestra Señora del Pilar</h1>
  <h2>Zaragoza</h2>

  <nav class="navbar navbar-expand-lg fixed-top hidden" id="navbarNav">
    <button 
      class="navbar-toggler" 
      type="button" 
      data-bs-toggle="collapse">
      <i class="fa-solid fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#start">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#history">Historia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#architecture">Arquitectura</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#curiosities">Curiosidades</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#virgen">La Virgen del Pilar</a>
        </li>
      </ul>
    </div>
    </nav>
</div>