<section class="history-container" id="history">
  <div class="container my-5">
    <h3 class="text-center mb-4">Historia</h3>

    <section class="mb-4">
      <div class="row">
        <div class="col-md-6 d-flex flex-column justify-content-center">
          <h4>La aparición de la Virgen María a Santiago</h4>
          <p>La <strong>historia de la Basílica del Pilar</strong> se remonta al <strong>40 d.C.</strong>, cuando, según la tradición cristiana, la <strong>Virgen María</strong>
            se apareció en carne mortal al apóstol <strong>Santiago el Mayor</strong> en un momento en que él estaba evangelizando en la península ibérica, 
            cerca del río Ebro en Zaragoza (antigua Caesaraugusta). Santiago estaba desanimado por el poco éxito en su misión evangelizadora. La Virgen, al aparecerse sobre un pilar o columna de jaspe, 
            le ofreció apoyo y le pidió que construyera una iglesia en ese lugar en su honor.</p>
          <p>Este evento es considerado la <strong>primera aparición mariana documentada en la historia del cristianismo</strong>, y la única supuestamente ocurrida mientras la Virgen María aún vivía, 
            lo que le da un carácter único entre las devociones marianas.</p>
        </div>
        <div class="col-md-6 d-flex flex-row justify-content-end align-items-center">
          <figure class="history-picture">
            <picture>
              <source srcset="./assets/images/history/history1.png?as=webp" type="image/webp" >
              <img class="main-pic img-fluid" src="./assets/images/history/history1.png" alt="Imagen creada por IA con la Virgen y el Apostol Santiago" >
            </picture>
            <figcaption>Imagen creada por: <a href="https://chatgpt.com" target="_blank">ChatGPT</a></figcaption>
          </figure>  
        </div>
      </div>
    </section>
      
    <section class="mb-4">
      <div class="row">
        <div class="col-md-6 order-md-2 d-flex flex-column justify-content-center">
          <h4>Primeras construcciones y devoción creciente</h4>
          <p>Tras la aparición, según la leyenda, Santiago y sus seguidores construyeron una primera <strong>capilla sencilla de adobe</strong> en honor a la Virgen María sobre el pilar donde ella había aparecido. 
            sta pequeña capilla fue el origen de la actual Basílica.</p>
          <p>Con el tiempo, la devoción a la Virgen del Pilar fue creciendo, y sucesivos templos fueron construidos en el mismo lugar. Aunque no se conserva documentación arquitectónica precisa de las primeras estructuras, 
            se sabe que durante los siglos posteriores, a medida que el cristianismo se expandía, se erigieron iglesias más grandes y elaboradas sobre los restos de la capilla primitiva.</p>
        </div>
        <div class="col-md-6 order-md-1 d-flex flex-row justify-content-left align-items-center">
          <figure class="history-picture">
            <picture>
              <source srcset="./assets/images/history/history2.png?as=webp" type="image/webp" >
              <img class="main-pic img-fluid" src="./assets/images/history/history2.png" alt="Imagen creada por IA de una capilla de adobe" >
            </picture>
            <figcaption>Imagen creada por: <a href="https://chatgpt.com" target="_blank">ChatGPT</a></figcaption>
          </figure> 
        </div>
      </div>
    </section>
        
    <section class="mb-4">
      <div class="row">
        <div class="col-md-6 d-flex flex-column justify-content-center">
          <h4>Edad Media: Templo románico</h4>
          <p>Durante la Edad Media, la iglesia dedicada a la Virgen del Pilar fue creciendo en importancia, especialmente tras la reconquista de Zaragoza en 1118 por Alfonso I "El Batallador". 
            En este momento, se construyó un <strong>templo románico</strong> más grande para albergar a los fieles. La creciente devoción a la Virgen del Pilar atrajo peregrinos de toda la región, y la iglesia se 
            consolidó como uno de los centros más importantes de devoción mariana.</p>
        </div>
        <div class="col-md-6 d-flex flex-row justify-content-end align-items-center">
          <figure class="history-picture">
            <picture>
              <source srcset="./assets/images/history/history3.png?as=webp" type="image/webp" >
              <img class="main-pic img-fluid" src="./assets/images/history/history3.png" alt="Imagen creada por IA  con un templo románico" >
            </picture>
            <figcaption>Imagen creada por: <a href="https://chatgpt.com" target="_blank">ChatGPT</a></figcaption>
          </figure> 
        </div>
      </div>
    </section>
      
    <section class="mb-4">
      <div class="row">
        <div class="col-md-6 order-md-2 d-flex flex-column justify-content-center">
          <h4>Siglos XVI y XVII: Ampliación renacentista y barroca</h4>
          <p>Con el paso de los siglos, la iglesia del Pilar fue ampliada y remodelada en varias ocasiones. En el siglo XVI, durante el reinado de Felipe II, la <strong>Reina Isabel de Valois</strong> 
            impulsó una fase renacentista del templo. No obstante, el gran proyecto de la actual basílica no comenzó hasta el siglo XVII.</p>
          <p>En 1681, se decidió construir un nuevo y majestuoso templo barroco, reflejando la creciente importancia del culto a la Virgen del Pilar en España y América. El diseño original de <strong>Felipe Sánchez</strong>, 
            perfeccionado por <strong>Francisco Herrera el Mozo</strong>, dio lugar a una iglesia monumental con cúpulas y torres, ahora íconos del paisaje de Zaragoza.</p>
        </div>
        <div class="col-md-6 order-md-1 d-flex flex-row justify-content-left align-items-center">
          <figure class="history-picture">
            <picture>
              <source srcset="./assets/images/history/history4.png?as=webp" type="image/webp" >
              <img class="main-pic img-fluid" src="./assets/images/history/history4.png" alt="Imagen creada por IA de una version antigua de la Basílica del Pilar" >
            </picture>
            <figcaption>Imagen creada por: <a href="https://chatgpt.com" target="_blank">ChatGPT</a></figcaption>
          </figure>
        </div>
      </div>
    </section>
      
    <section class="mb-4">
      <div class="row">
        <div class="col-md-6 d-flex flex-column justify-content-center">
          <h4>La Basílica en la actualidad</h4>
          <p>Hoy en día, la <strong>Basílica del Pilar</strong> sigue siendo uno de los <strong>principales centros de peregrinación en el mundo católico</strong>. Cada año, miles de fieles acuden al templo.</p>
          <p>La Basílica también desempeña un papel cultural importante, albergando conciertos, exposiciones y eventos que enriquecen la vida espiritual y cultural de la ciudad de Zaragoza. La combinación de su significado religioso y su valor artístico hacen de la Basílica del Pilar un lugar único, donde historia y fe se entrelazan.</p>
        </div>
        <div class="col-md-6 d-flex flex-row justify-content-end align-items-center">
          <figure class="history-picture">
            <picture>
              <source srcset="./assets/images/history/history5.png?as=webp" type="image/webp" >
              <img class="main-pic img-fluid" src="./assets/images/history/history5.png" alt="Imagen creada por IA de la Basílica del Pilar actualmente" >
            </picture>
            <figcaption>Imagen creada por: <a href="https://chatgpt.com" target="_blank">ChatGPT</a></figcaption>
          </figure>
        </div>
      </div>
    </section>        
  </div>  
</section>
