<section class="main-container" id="main">
  <figure class="main-picture">
    <picture>
      <source srcset="./assets/images/basilica-rio.jpg?as=webp" type="image/webp" >
      <img class="main-pic" src="./assets/images/basilica-rio.jpg" alt="Basílica del Pilar y el Ebro">
    </picture>
    <figcaption>Imagen tomada de: <a href="https://www.goodfon.com" target="_blank">GoodFon</a></figcaption>
  </figure>
  <div class="card-container">
    <div class="row">
      <div class="col-md-6 col-lg-3 mb-4">
        <div class="card">
          <figure class="card-picture">
            <picture>
              <source srcset="./assets/images/basilica-historia.jpg?as=webp" type="image/webp" >
              <img class="main-pic" src="./assets/images/basilica-historia.jpg" alt="Basílica del Pilar">
            </picture>
            <figcaption>Imagen tomada de: <a href="https://live.staticflickr.com" target="_blank">Staticflickr</a></figcaption>
          </figure>
          <div class="card-body">
            <h5 class="card-title">Historia</h5>
            <p class="card-text">La Basílica del Pilar tiene sus raíces en el año 40 d.C., cuando la Virgen María se apareció al apóstol Santiago. Desde entonces, el Pilar se ha convertido en un importante centro de peregrinación.</p>
            <button href="#history">Conocer más</button>
          </div>
        </div>
      </div>
  
      <div class="col-md-6 col-lg-3 mb-4">
        <div class="card">
          <figure class="card-picture">
            <picture>
              <source srcset="./assets/images/basilica-pilar-arriba.jpg?as=webp" type="image/webp" >
              <img class="main-pic" src="./assets/images/basilica-pilar-arriba.jpg" alt="Basílica del Pilar desde arriba">
            </picture>
            <figcaption>Imagen tomada de: <a href="https://www.hoyaragon.es" target="_blank">Hoy Aragon</a></figcaption>
          </figure>
          <div class="card-body">
            <h5 class="card-title">Arquitectura</h5>
            <p class="card-text">La Basílica presenta un estilo barroco, con 11 cúpulas y 4 torres que destacan en el skyline de Zaragoza. Su interior alberga frescos de Goya y obras de arte sacro.</p>
            <button href="#architecture">Conocer más</button>
          </div>
        </div>
      </div>
  
      <div class="col-md-6 col-lg-3 mb-4">
        <div class="card">
          <figure class="card-picture">
            <picture>
              <source srcset="./assets/images/bombas.jpg?as=webp" type="image/webp" >
              <img class="main-pic" src="./assets/images/bombas.jpg" alt="Bombas de la Basílica del Pilar">
            </picture>
            <figcaption>Imagen tomada de: <a href="https://www.prensaiberica.es" target="_blank">Prensa Iberica</a></figcaption>
          </figure>            
          <div class="card-body">
            <h5 class="card-title">Curiosidades</h5>
            <p class="card-text">Durante la Guerra Civil Española, dos bombas cayeron sobre la Basílica, pero ninguna explotó. Hoy, las bombas se conservan como un símbolo de protección divina.</p>
            <button href="#curiosities">Conocer más</button>
          </div>
        </div>
      </div>
  
      <div class="col-md-6 col-lg-3 mb-4">
        <div class="card">
          <figure class="card-picture">
            <picture>
              <source srcset="./assets/images/virgen-pilar.jpg?as=webp" type="image/webp" >
              <img class="main-pic" src="./assets/images/virgen-pilar.jpg" alt="Ofrenda de flores de Zaragoza">
            </picture>
            <figcaption>Imagen tomada de: <a href="https://commons.m.wikimedia.org" target="_blank">Wikimedia</a></figcaption>
          </figure>  
          <div class="card-body">
            <h5 class="card-title">La Virgen</h5>
            <p class="card-text">La Virgen del Pilar, patrona de la Hispanidad, es venerada por miles de fieles. Su imagen, de 38 cm, está colocada sobre un pilar de mármol en la Santa Capilla.</p>
            <button href="#virgen">Conocer más</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>