@use "sass:color";

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$font-title: "Arima";

$background-primary: #264653; // Fondos principales, encabezados o texto principal
$highlight: #2a9d8f; //Elementos destacados como botones, enlaces y elementos de navegación
$accent-soft: #e9c46a; //Acentos y fondos secundarios, como tarjetas o secciones resaltadas
$cta: #f4a261; //Botones de acción o elementos de llamada a la acción 
$alert: #e76f51; //Alertas, mensajes de error o elementos que necesiten destacar fuertemente
